# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on:
  
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]

    timeout-minutes: 60 # Default 5 days for self hosted
    # Ignore PRs from master. Assumtion is master is always a good branch, so this PR is just a sync.
    if: github.ref_name != 'main' && github.ref_name != 'master'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # extra info for sonar
      - name: Sync
        # Workflow actions will not trigger new workflows
        run: |
          git merge --no-ff origin/develop -m "Sync master back to develop"
          git push -u origin develop
